ul {
    list-style: none;
}

body {
	margin: 0;
	padding-left: 0%;
	padding-right: 0%;
	font-family: "Trebuchet MS";
}

.topnav {
  overflow: hidden;
  background-color: #cccccc;
}

.topnav a {
  float: left;
  color: #5555aa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #5555aa;
  color: white;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}

.side-padding {
    padding-left:22%;
    padding-right:25%;
    padding-top:5px;
}
		  

@media screen and (max-height: 450px) {
    .side-padding {padding-left: 0px; padding-right:0px;}
}
