ul {
    list-style: none;
}

li {
    margin:10px 0;
}

div card {
    text-align: center;
}

body {
    background-color:6565cc;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
    font-family: "Trebuchet MS";
}

.topnav {
  overflow: hidden;
  background-color: #eeeeee;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #6565cc;
  color: white;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}

.side-padding {
    background-color:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
    padding-left:20px;
    padding-right:20px;
}

.footer-padding {
    height:50px;
}

.aligning {
    background-color:#6565cc;
    padding-left:20%;
    padding-right:20%;
    padding-top:20px;
    padding-bottom:20px;
}

h1 {
    padding-top:40px;
    padding-bottom:20px;
}

@media screen and (max-width: 1000px) {
/*    .title-style {font-size:60px}*/
    .aligning {padding-left: 0px; padding-right:0px; font-size:36px;}
    .topnav a {font-size:36px;}
    
}
